<%
    const { title = '', css = [], js = [] } = htmlWebpackPlugin.options;
%>
<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <meta charset="utf-8" />
    <% css.forEach((url) => { %>
        <link rel="stylesheet" type="text/css" href="<%= url %>" />
    <% }) %>
</head>
<body class="page-container">
    <div id="root"></div>
    <% js.forEach((url) => { %>
        <script type="text/javascript" src="<%= url %>"></script>
    <% }) %>
</body>
</html>
