{
  "env": {
    "browser": true,
    "node": true
  },
  "globals": {
    "__DEV__": false,
    "__PROD__": false,
    "$": true
  },
  "ecmaFeatures": {
    "arrowFunctions": true,
    "destructuring": true,
    "classes": true,
    "defaultParams": true,
    "blockBindings": true,
    "modules": true,
    "objectLiteralComputedProperties": true,
    "objectLiteralShorthandMethods": true,
    "objectLiteralShorthandProperties": true,
    "restParams": true,
    "spread": true,
    "forOf": true,
    "generators": true,
    "templateStrings": true,
    "superInFunctions": true,
    "experimentalObjectRestSpread": true
  },
  "rules": {
    "vue/no-parsing-error": [0]
  }
}